<!-- Agrega esto en la sección <head> del archivo index.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container" *ngIf="detalle">
  <div class="portada">
    <img [src]="portadaPelicula()" alt="poster" class="img-fluid">
  </div>
  <div class="descripcion">

    <button id="boton" class="btn" [ngClass]="{'btn-outline-danger': !isFavorite, 'btn-danger': isFavorite}"
      type="button" (click)="toggleFavorite()">
      <i class="fas fa-heart" [ngClass]="{'text-white': !isFavorite, 'text-danger': isFavorite}"></i>
    </button>

    <h3><b>{{detalle.title}}</b></h3>
    <p><strong>Descripción:</strong>{{detalle.overview}}</p>
    <p><strong>Fecha de lanzamiento:</strong> {{ detalle.releaseDate }}</p>
    <p><strong>Calificación:</strong> {{detalle.rating.toFixed(1)}}</p>
    <button class="btn btn-outline-success" type="button" (click)="openTrailer()">Trailer</button>

    <div class="genero">
      <ul class="listaGenero">
        <!-- Iterar sobre los géneros de la película -->
        <li *ngFor="let genre of detalle.movieGenres?.$values">
          {{ genre.genre.name }}
        </li>
      </ul>
    </div>
   
  </div>

  <div class="comentarios">
    <h1>Reseñas y Comentarios</h1>
    <div class="publicar">
        <textarea [(ngModel)]="nuevoComentarioTexto"></textarea>
        <input type="submit" value="Publicar" class="btn-submit" (click)="publicarComentario()">
    </div>
    <div>
        @for (elem of listaCommnet; track elem) {
        <div class="publicaciones">
            <div class="resena">
                <p>{{ elem.user }}</p>
                <ng-container *ngIf="!modoEdicion[elem.id]; else editMode">
                    <span>{{ elem.comment }}</span>
                    <div class="acciones" *ngIf="elem.isAuth">
                        <input type="submit" value="Actualizar" (click)="activarEdicion(elem)">
                        <input type="submit" value="Eliminar" (click)="borrarComentario(elem.id)">
                    </div>
                </ng-container>
                <ng-template #editMode>
                    <textarea [(ngModel)]="comentarioEditado!.comment"></textarea>
                    <div class="acciones">
                        <input type="submit" value="Guardar" (click)="editarComentario()">
                        <input type="submit" value="Cancelar" (click)="modoEdicion[elem.id] = false">
                    </div>
                </ng-template>
            </div>
        </div>
        }
    </div>
  </div>
<div class="fondo">
  <img [src]="fondoPelicula()" alt="fondo" class="img-fluid">
</div>

