<!-- Agrega esto en la sección <head> del archivo index.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container" *ngIf="detalle">
  <div class="portada">
    <img [src]="portadaPelicula()" alt="poster" class="img-fluid">
  </div>
  <div class="descripcion">

    <button id="boton" class="btn" [ngClass]="{'btn-outline-danger': !isFavorite, 'btn-danger': isFavorite}"
      type="button" (click)="toggleFavorite()">
      <i class="fas fa-heart" [ngClass]="{'text-white': !isFavorite, 'text-danger': isFavorite}"></i>
    </button>

    <h3><b>{{detalle.title}}</b></h3>
    <p><strong>Descripción:</strong>{{detalle.overview}}</p>
    <p><strong>Fecha de lanzamiento:</strong> {{ detalle.releaseDate | date:'dd/MM/yyyy' }}</p>
    <p><strong>Calificación:</strong> {{detalle.rating.toFixed(1)}}</p>
    <button class="btn btn-outline-success" type="button" (click)="openTrailer()">Trailer</button>

    <div class="genero">
      <ul class="listaGenero">
        <!-- Iterar sobre los géneros de la película -->
        <li *ngFor="let genre of detalle.movieGenres?.$values">
          {{ genre.genre.name }}
        </li>
      </ul>
    </div>
  </div>

</div>
<div class="fondo">
  <img [src]="fondoPelicula()" alt="fondo" class="img-fluid">
</div>