<div class="flex items-center justify-center min-h-screen bg-black bg-cover bg-center" style="background-image: url('../../../assets/fondo2.jpg');">
    <div class="w-full max-w-sm p-8 space-y-6 bg-black bg-opacity-75 rounded-md shadow-lg">
      <h2 class="text-3xl font-bold text-center text-white">Sign In</h2>
      <form #form="ngForm" (ngSubmit)="login()">
        <div class="space-y-4">
          <div>
            <input id="email" type="email" name="email" [(ngModel)]="email" class="w-full px-4 py-2 mt-1 text-white placeholder-gray-500 bg-gray-800 border border-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600" placeholder="Email" required>
          </div>
          <div>
            <input id="password" type="password" name="password" [(ngModel)]="password" class="w-full px-4 py-2 mt-1 text-white placeholder-gray-500 bg-gray-800 border border-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600" placeholder="Password" required>
          </div>
          <button type="submit" class="w-full py-2 mt-6 font-semibold text-white bg-red-600 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600">Sign In</button>
        </div>
        <div *ngIf="errorMessage" class="mt-4 text-sm text-red-500">
            {{ errorMessage }}
          </div>
        <div class="flex justify-between mt-4 text-sm text-gray-500">
          <a href="#" class="hover:underline">Need help?</a>
          <a [routerLink]="['/register']" class="hover:underline">Sign up now</a>
        </div>
      </form>
    </div>
  </div>
  