    <!-- <div class="container">
    <div *ngFor="let row of series, itemsPerRow" class="row">
        <div class="col-md-3" *ngFor="let serie of row">
            <div class="card" (click)="detallesSeries(serie.seriesId)">
                <img class="card-img-top" src="{{ serie.posterPath }}"
                    alt="Movie Poster">
            </div>
        </div>
    </div>
    <div class="pagination">
        <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="changePage($event)">
        </app-pagination>
    </div>
</div> -->

<!-- series-list.component.html -->
<div class="container">
    <div *ngFor="let row of series, itemsPerRow" class="row">
        <div class="col-md-3" *ngFor="let serie of series">
            <div class="card" (click)="detallesSeries(serie.seriesId)">
                <img class="card-img-top" src="{{ serie.posterPath }}"
                    alt="Movie Poster">
            </div>
        </div>
    </div>
    
  