<div class="background-container">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="card mx-auto" style="max-width: 28rem;">
                    <div class="card-body">
                        <h2 class="card-title text-2xl font-bold mb-4">Registro de Película</h2>
                        <form (ngSubmit)="addPelicula()" #peliculaForm="ngForm">
                            <!-- Título de la película -->
                            <div class="mb-3">
                                <label for="titulo" class="form-label">Título</label>
                                <input type="text" class="form-control" id="titulo" name="titulo" required [(ngModel)]="Title">
                            </div>

                            <!-- Descripción de la película -->
                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required [(ngModel)]="Overview"></textarea>
                            </div>

                            <!-- Género de la película -->
                            <div class="mb-3">
                                <label for="genero" class="form-label">Género</label>
                                <select class="form-select" id="genero" name="genero" required>
                                    <option value="" disabled selected>Selecciona un género</option>
                                    <option value="Acción">Acción</option>
                                    <option value="Aventura">Aventura</option>
                                    <option value="Comedia">Comedia</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Fantasía">Fantasía</option>
                                    <option value="Ciencia Ficción">Ciencia Ficción</option>
                                    <option value="Romance">Romance</option>
                                    <option value="Terror">Terror</option>
                                    <option value="Thriller">Thriller</option>
                                    <option value="Animación">Animación</option>
                                    <option value="Documental">Documental</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>

                            <!-- Trailer de la película -->
                            <div class="mb-3">
                                <label for="trailer" class="form-label">Enlace al Trailer</label>
                                <input type="url" class="form-control" id="trailer" name="trailer">
                            </div>

        

                            <div class="mb-3">
                                <label for="imagenOption" class="form-label">Seleccionar Imagen</label>
                                <div>
                                    <input type="radio" id="uploadImage" name="imageOption" [(ngModel)]="imageOption" value="upload"> 
                                    <label for="uploadImage">Subir desde el escritorio</label>
                                </div>
                                <div>
                                    <input type="radio" id="imageUrl" name="imageOption" [(ngModel)]="imageOption" value="url"> 
                                    <label for="imageUrl">Usar enlace de Internet</label>
                                </div>
                            </div>
                            
                            <!-- Imagen de portada desde el escritorio -->
                            <div class="mb-3" *ngIf="imageOption === 'upload'">
                                <label for="imagen" class="form-label">Imagen de Portada</label>
                                <input type="file" class="form-control" id="imagen" (change)="onFileSelected($event)">
                            </div>
                            
                            <!-- Enlace de imagen desde Internet -->
                            <div class="mb-3" *ngIf="imageOption === 'url'">
                                <label for="imageLink" class="form-label">Enlace de Imagen</label>
                                <input type="text" class="form-control" id="imageLink" [(ngModel)]="PosterPath" name="imageLink">
                            </div>
                            

                            <!-- Botón de enviar -->
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-primary" [disabled]="peliculaForm.invalid">Registrar Película</button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
