<nav class="pagina" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous" (click)="previousPage($event)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let pageNumber of generatePageRange()">
        <button class="page-link" (click)="changePage(pageNumber)" [class.active]="currentPage === pageNumber">{{ pageNumber }}</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="#" aria-label="Next" (click)="nextPage($event)"> <!-- Modifica el evento de clic aquí -->
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>